services:
  stockflow.api:
    image: stockflow.api
    build:
      context: .
      dockerfile: StockFlow.Api/Dockerfile
    ports:
      - "5000:8080"
      - "5001:8081"
      
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      - POSTGRES_DB=stock_flow
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./.containers/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
        
  seq:
    image: datalust/seq:2024.3
    container_name: seq
    environment:
      - ACCEPT_EULA=Y
    ports:
      - "8081:80"
  
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   
      - "15672:15672" 
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
